body {
  margin: 0 auto;
}
.main {
  margin: 50px;
  background-color: antiquewhite;
  width: 800px;
}
h3 {
  text-align: center;
}
input {
  margin: 10px;
}
.output {
  background-color:aqua;
  font-size: 1.2rem;
  font-weight: 800;
}
.task {
  margin-top: 50px;
}
.button-box {
  height: 100px;
}
input[type="button"] {
  background-color: aquamarine;
  border-radius: 10px;
}