.body {
    margin: 0 auto;
}
.people-cart-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
}
.people-cart-box>div {
    width: 18vw;
    height: 40vh;
    background-image: url("https://st2.depositphotos.com/3031831/5365/i/450/depositphotos_53655241-stock-photo-black-space-with-many-stars.jpg");
    border: 3px double blue;
    margin-bottom: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.btn {
    width: 100px;
    height: 20;
    background-color: red;
    color: darkgray;
    font-size: 20px;
    font-weight: 800;
    position: absolute;
    right: 30px;
    bottom: 4px;
    border-radius: 10px;
    border: 2px solid brown;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color:brown;
    color: red;
    border: 4px solid black;
}
.people-cart-box>div>div:nth-child(1) {
    color:gold;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;
}
.people-cart-box>div>div:nth-child(1)~div {
    color:brown;
    font-size: 25px;
    font-weight: 900;
    margin: 10px;
}
.people-cart-box>div>a {
    color:aquamarine !important;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    margin: 10px;
}
.tooltip {
  max-width: min-content;
  max-height: min-content;
  position: absolute;
  border: 2px solid black; 
  background-color:aliceblue;
  border-radius: 10px;
  font-style: italic;
  color:brown;
  font-weight: 800;
  text-align: center;
}
.loader {
  margin: 100px;
  display: none;
}
