body {
  margin: 0, auto;
}
body > div {
  width: 600px;
  text-align: center;
  border: 1px, solid, blue;
}

.title {
  background-color: aqua;
  color: red;
  font-size: 1.5rem;
  font-weight: 900;
  background-color: aqua;
}
.body {
  color: brown;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: chartreuse;
}
.footer {
  color: green;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: cornflowerblue;
}
.date {
  color: firebrick;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: blanchedalmond;
  font-style: italic;
}
#test {
  width: 400;
  background-color:chartreuse;
  color:brown;
  font-size: 1.2rem;
  border: 2px double darkred;
}