body {
  margin: 0 auto;
}
.main {
  margin-left: 50px;
}
/* For first task */
.task1 {
}
.sec-box {
  display: flex;
  border: 3px solid fuchsia;
  border-radius: 5%;
  max-width: fit-content;
  margin-bottom: 20px;
  background-color: aqua;
}
.sec-box>div {
  border: 1px double grey;
  font-size: 2rem;
}
.sec-box>div:nth-child(1)::after {
 content: 'Hour';
 font-size: 10px;
}
.sec-box>div:nth-child(2)::after {
  content: 'Min';
  font-size: 10px;
 }
 .sec-box>div:nth-child(3)::after {
  content: 'Sec';
  font-size: 10px;
 }
span {
  margin: 5px;
}
button {
  background-color:cadetblue;
  color: red;
  font-weight: 800;
  border-radius: 10%;
}

/*For second task*/

.task2 {
  width: 500px;
}
.error {
  background-color:aqua;
  color: red;
  width: 200px;
  border:1px solid black;
  margin-top: 20px;
}

/*For third task*/

.slider-box {
  position: relative;
  width: 900px;
  min-height: 500px;
  max-height: fit-content;
  background-color: blue;
  background-size: 100% 100%;
  border: 2px solid red;
  transition: all 1s ease-out;
}
.next-img, .previouse-img {
  width: 35px;
  height: 30px;
  font-size: 25px;
  background-color:cadetblue;
  font-weight: 900;
  border-radius: 20%;
}
.next-img:hover, .previouse-img:hover {
  background-color: beige;
  color: blue;
  cursor: pointer;
}
.next-img {
  position: absolute;
  right: 0;
  top: 45%;
}
.previouse-img {
  position: absolute;
  left: 0;
  top: 45%;
}
.add-img {
  position: absolute;
  bottom: 0;
  left: 80%;
  width: 100px;
  height: 20px;
  background-color: cadetblue;
  font-weight: 700;
  color: red;
  border: 5px solid brown;
  border-radius: 10%;
  text-align: center;
}
.add-img:hover {
  cursor: pointer;
  background-color: blue;
  color: azure;
}

