.main {
  display: flex;
  background-color: aquamarine;
  justify-content: space-between;
  width: 30%;
}
.inner {
  width: 30%;
  border: 3px solid teal; 
  box-sizing: border-box; 
}
h3 {
  text-align: center;
}
li {
  color: teal;
  font-weight: 600;
}

